/node_modules
/.phpunit.cache
/public/css
/public/js
/public/hot
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/log
.env
.phpunit.result.cache
.php-cs-fixer.cache
.phpstorm.meta.php
.idea
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
