[Unit]
Description=php-fpm {{ phpbrew_php_version }} Service
Documentation=https://github.com/gitinsky/ansible-role-phpbrew

[Service]
Type=forking
User=root
Group=root
ExecStart=/home/ubuntu/.phpbrew/php/php-{{ phpbrew_php_version }}/sbin/php-fpm -y /home/ubuntu/.phpbrew/php/php-{{ phpbrew_php_version }}/etc/php-fpm.conf
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
Alias=php-fpm{{ phpbrew_php_version | regex_replace('\\.', '_') }}.service
